
@{
    ViewBag.Title = "Flex";
}
<link href="/Content/flex.css" rel="stylesheet">
<h2>Flex</h2>

<div class="flex-container">
    <div class="flex-element first-block"></div>
    <div>
        <div class="flex-element third-block"></div>
        <div class="flex-element fourth-block"></div>
    </div>
    <div>
        <div class="flex-element sixth-block"></div>
        <div class="flex-element seventh-block"></div>
    </div>
    <div class="flex-element second-block"></div>
    <div class="flex-element fifth-block"></div>
</div>