@{
    ViewBag.Title = "Home Page";
}
@*2*@
<div class="container">
    <a href="#" class="button pink">Кнопка</a>
</div>
@*3*@
<div id="CreateList">
    <p>Ключевые слова</p>

    <ol>
        <li>
            A
            <ul>
                <li>abstract</li>
            </ul>
        </li>
        <li>
            B
            <ul>
                <li>boolean</li>
                <li>break</li>
                <li>byte</li>
            </ul>
        </li>
        <li>
            C
            <ul>
                <li>case</li>
                <li>catch</li>
                <li>char</li>
            </ul>
        </li>

    </ol>
</div>
<div id="some_wild">
    <p>Какая-то дичь</p>
    <ul>
        <li id="first_li">8,9</li>
        <li id="second_li">8,9</li>
        <li id="third_li">7,10,В</li>
        <li id="fourth_li">7,8,9</li>
    </ul>

</div>


